@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h1 class="display-2">CLOD 2005 - Azure Architect Technologies</h1>
    <h2 class="display-3">Week 11 - In Class Lab 2</h2>  
    <h3 class="display-4">Nauman Tanwir - Student ID 500237447</h3> 
    <h3 class="display-4">This was updated and deployed via GitHub Actions</h3>
</div>
